@media screen and (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    column-gap: 10px;
  }

  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  aside {
    height: 100vh;
  }

  aside ul {
    text-align: left;
    list-style-type: square;
  }

  div.Text_box div {
    display: flex;
    justify-content: space-between;
  }

  div.Text_box div.BottomFlexbox {
    justify-content: flex-end;
  }

  section ul {
    display: flex;
  }
}

body {
  font-family: 'helvetica', 'san serif';
  background-color: #f9f3ec;
  color: #3c5f6f;
}

nav a{
  text-decoration: none;
  color: inherit;
  color: #3c5f6f;
}

h1,
h2 {
  text-align: center;
}

nav ul,
footer nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

nav ul li,
footer nav ul li {
  padding: 5px;
}

button,
textarea,
aside ul li {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
}

.buttons{
  background-color: #729aff;
  color: #fff;
}
.aboutdoc{
  color: #3c5f6f;
}
textarea{
  background-color: #fff;
  color: #000;
}

aside{
  background-color: #f0f8ff;
}
.image{
  background-color:#f9f3ec; 
}

#Dark{
  background-color: #6f6a87;
  color: #f9f3ec;
}

#Cancel{
  background-color: #c14d4d;
}

footer ul li button.light,
footer ul li button.light:hover {
  background-color: #f9f3ec;
  color: #3c5f6f;
}

footer ul li button,
footer ul li button {
  background-color: #161616;
  color: #f9f3ec;
}